atom-text-editor {
    .syntax--cif {
        @odd: #EEEEEE;
        @even: #CCCCCC;
        @bsOdd: #EEEEFF;
        @bsEven: #CCCCFF;
        @loOdd: #EEFFEE;
        @loEven: #CCFFCC;
        @ltOdd: #FFEEEE;
        @ltEven: #FFCCCC;
        @crOdd: #FFFFEE;
        @crEven: #FFFFCC;
        @error: #FF0000;

        color: black;

        .syntax--header {
            background-color: @odd;
            .syntax--cifHdFileMainframeIdentity {background-color: @even;}
            .syntax--cifHdTimeOfExtract {background-color: @even;}
            .syntax--cifHdLastFileRef.header.cif {background-color: @even;}
            .syntax--cifHdVersion.header.cif {background-color: @even;}
            .syntax--cifHdUserExtractEndDate.header.cif {background-color: @even;}
        }
        .syntax--basicSchedule {
            background-color: @bsOdd;
            .syntax--cifBsTransactionType {background-color: @bsEven;}
            .syntax--cifBsDateRunsFrom {background-color: @bsEven;}
            .syntax--cifBsDaysRun {background-color: @bsEven;}
            .syntax--cifBsTrainStatus {background-color: @bsEven;}
            .syntax--cifBsCourseIndicator {background-color: @bsEven;}
            .syntax--cifBsPortionId {background-color: @bsEven;}
            .syntax--cifBsTimingLoad {background-color: @bsEven;}
            .syntax--cifBsOperatingCharacteristics {background-color: @bsEven;}
            .syntax--cifBsSleepers {background-color: @bsEven;}
            .syntax--cifBsConnectionIndicator {background-color: @bsEven;}
            .syntax--cifBsServiceBranding {background-color: @bsEven;}
            .syntax--cifBsStpIndicator {background-color: @bsEven;}
        }
        .syntax--basicScheduleExtraDetail {
            background-color: @odd;
            .syntax--cifBxTractionClass {background-color: @even;}
            .syntax--cifBxAtocCode {background-color: @even;}
            .syntax--cifBxReservedFieldRsid {background-color: @even;}
            .syntax--cifBxSpare {background-color: @even;}
        }
        .syntax--originLocation {
            background-color: @loOdd;
            .syntax--cifLoLocation {background-color: @loEven;}
            .syntax--cifLoPublicDeparture {background-color: @loEven;}
            .syntax--cifLoLine {background-color: @loEven;}
            .syntax--cifLoPathingAllowance {background-color: @loEven;}
            .syntax--cifLoPerformanceAllowance {background-color: @loEven;}
        }
        .syntax--intermediateLocation {
            background-color: @odd;
            .syntax--cifLiLocation {background-color: @even;}
            .syntax--cifLiScheduledDeparture {background-color: @even;}
            .syntax--cifLiPublicArrival {background-color: @even;}
            .syntax--cifLiPlatform {background-color: @even;}
            .syntax--cifLiPath {background-color: @even;}
            .syntax--cifLiEngineeringAllowance {background-color: @even;}
            .syntax--cifLiPerformanceAllowance {background-color: @even;}
        }
        .syntax--changeEnRoute {
            background-color: @crOdd;
            .syntax--cifCrLocation {background-color: @crEven;}
            .syntax--cifCrTrainIdentity {background-color: @crEven;}
            .syntax--cifCrLocation {background-color: @crEven;}
            .syntax--cifCrCourseIndicator {background-color: @crEven;}
            .syntax--cifCrPortionId {background-color: @crEven;}
            .syntax--cifCrTimingLoad {background-color: @crEven;}
            .syntax--cifCrOperatingCharacteristics {background-color: @crEven;}
            .syntax--cifCrSleepers {background-color: @crEven;}
            .syntax--cifCrConnectionIndicator {background-color: @crEven;}
            .syntax--cifCrServiceBranding {background-color: @crEven;}
            .syntax--cifCrUicCode {background-color: @crEven;}
            .syntax--cifCrSpare {background-color: @crEven;}
        }
        .syntax--terminatingLocation {
            background-color: @ltOdd;
            .syntax--cifLtLocation {background-color: @ltEven;}
            .syntax--cifLtPublicArrival {background-color: @ltEven;}
            .syntax--cifLtPath {background-color: @ltEven;}
            .syntax--cifLtSpare {background-color: @ltEven;}
        }
        .syntax--trainSpecificNote {
            background-color: @odd;
            .syntax--cifTnNoteType {background-color: @even;}
        }
        .syntax--locationSpecificNote {
            background-color: @odd;
            .syntax--cifLnNoteType {background-color: @even;}
        }
        .syntax--association {
            background-color: @odd;
            .syntax--cifAaTransactionType {background-color: @even;}
            .syntax--cifAaAssociatedTrainUid {background-color: @even;}
            .syntax--cifAaAssociationEndDate {background-color: @even;}
            .syntax--cifAaAssociationCategory {background-color: @even;}
            .syntax--cifAaAssociationLocation {background-color: @even;}
            .syntax--cifAaAssocLocationSuffix {background-color: @even;}
            .syntax--cifAaAssociationType {background-color: @even;}
            .syntax--cifAaStpIndicator {background-color: @even;}
        }
        .syntax--tiplocInsert {
            background-color: @odd;
            .syntax--cifTiTiplocCode {background-color: @even;}
            .syntax--cifTiNalco {background-color: @even;}
            .syntax--cifTiTpsDescription {background-color: @even;}
            .syntax--cifTiPoMcpCode {background-color: @even;}
            .syntax--cifTiSixteenCharacterDescription {background-color: @even;}
        }
        .syntax--tiplocAmend {
            background-color: @odd;
            .syntax--cifTaTiplocCode {background-color: @even;}
            .syntax--cifTaNalco {background-color: @even;}
            .syntax--cifTaTpsDescription {background-color: @even;}
            .syntax--cifTaPoMcpCode {background-color: @even;}
            .syntax--cifTaSixteenCharacterDescription {background-color: @even;}
            .syntax--cifTaSpare {background-color: @even;}
        }
        .syntax--tiplocDelete {
            background-color: @odd;
            .syntax--cifTdTiplocCode {background-color: @even;}
        }
        .tsyntax--railer {
            background-color: @odd;
            .syntax--cifZzSpare {background-color: @even;}
        }
        .syntax--error {color: @error;}
        .syntax--invalid {color: @error;}
    }
}
